 .u-section-1 {
  background-image: url("images/splash-image.png");
  min-height: 1798px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 212px;
  margin: 604px auto 0;
}

.u-section-1 .u-image-2 {
  height: 607px;
  margin-top: 375px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 1653px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 565px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 487px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 347px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1641px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 200px;
    margin-top: 414px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 420px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1567px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 126px;
    margin-top: 357px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 477px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1786px;
}

.u-section-2 .u-image-1 {
  width: 545px;
  height: 415px;
  transition-duration: 0.5s;
  margin: 0 auto 0 595px;
}

.u-section-2 .u-image-2 {
  width: 600px;
  height: 1135px;
  margin: -602px auto 0 68px;
}

.u-section-2 .u-image-3 {
  width: 400px;
  height: 658px;
  margin: -7px auto 0 -43px;
}

.u-section-2 .u-image-4 {
  width: 570px;
  height: 174px;
  transition-duration: 0.5s;
  transform: translateX(0px);
  margin: -811px auto 0 121px;
}

.u-section-2 .u-image-5 {
  width: 560px;
  height: 651px;
  object-position: 0% 50%;
  margin: -14px 256px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 273px;
  height: 654px;
  margin: -705px 18px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 399px;
  height: 618px;
  transition-duration: 0.5s;
  margin: -1133px 32px 0 auto;
}

.u-section-2 .u-image-8 {
  width: 570px;
  height: 350px;
  transition-duration: 0.5s;
  margin: -595px auto 624px 139px;
}

.u-section-2 .u-image-9 {
  width: 474px;
  height: 363px;
  transition-duration: 0.5s;
  margin: 0 -589px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-2 .u-image-1 {
    width: 532px;
    height: 434px;
    margin-top: -101px;
    margin-right: -85px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 552px;
    height: 1036px;
    margin-top: -489px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 345px;
    height: 568px;
    margin-top: 160px;
    margin-left: -26px;
  }

  .u-section-2 .u-image-4 {
    width: 526px;
    height: 161px;
    margin-top: -704px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 418px;
    height: 558px;
    margin-right: 203px;
  }

  .u-section-2 .u-image-6 {
    width: 220px;
    height: 552px;
    margin-top: -593px;
    margin-right: -24px;
  }

  .u-section-2 .u-image-7 {
    width: 464px;
    height: 717px;
    margin-top: -1233px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-8 {
    width: 549px;
    height: 340px;
    margin-top: -537px;
    margin-bottom: 60px;
    margin-left: -26px;
  }

  .u-section-2 .u-image-9 {
    margin-right: auto;
    margin-left: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2217px;
  }

  .u-section-2 .u-image-1 {
    width: 524px;
    height: 398px;
    margin-top: 37px;
    margin-right: -200px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -626px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-3 {
    width: 396px;
    height: 626px;
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 458px;
    height: 128px;
    margin-top: -754px;
    margin-left: -31px;
  }

  .u-section-2 .u-image-5 {
    width: 552px;
    height: 582px;
    margin-top: 586px;
    margin-right: auto;
    margin-left: -31px;
  }

  .u-section-2 .u-image-6 {
    width: 296px;
    height: 748px;
    margin-top: -781px;
    margin-right: -31px;
  }

  .u-section-2 .u-image-7 {
    width: 408px;
    height: 632px;
    margin-top: -1456px;
    margin-right: -115px;
  }

  .u-section-2 .u-image-8 {
    width: 477px;
    height: 293px;
    margin-top: -747px;
    margin-left: 7px;
  }

  .u-section-2 .u-image-9 {
    margin-right: -589px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1952px;
  }

  .u-section-2 .u-image-1 {
    width: 474px;
    height: 363px;
    margin-right: -589px;
  }

  .u-section-2 .u-image-3 {
    width: 341px;
    height: 601px;
    margin-top: 217px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    height: 169px;
    margin-top: -744px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    width: 424px;
    height: 522px;
    margin-top: 545px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    width: 189px;
    height: 479px;
    margin-top: -511px;
    margin-right: auto;
    margin-left: -35px;
  }

  .u-section-2 .u-image-7 {
    width: 351px;
    height: 564px;
    margin-top: -1043px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-image-8 {
    height: 331px;
    margin-top: -1057px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-9 {
    height: 411px;
    margin-top: -747px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3246px;
  }

  .u-section-2 .u-image-1 {
    margin-right: -796px;
  }

  .u-section-2 .u-image-2 {
    width: 440px;
    height: 752px;
    margin-top: -332px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-3 {
    width: 412px;
    height: 663px;
    margin-top: 1031px;
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-2 .u-image-4 {
    height: 136px;
    width: 427px;
    margin-top: -1480px;
    margin-left: -43px;
    margin-right: -43px;
  }

  .u-section-2 .u-image-5 {
    height: 422px;
    width: 440px;
    margin-top: 1324px;
    margin-left: -50px;
  }

  .u-section-2 .u-image-6 {
    height: 757px;
    object-position: 50% 100%;
    width: 412px;
    margin-top: -26px;
    margin-left: -36px;
    margin-right: -36px;
  }

  .u-section-2 .u-image-7 {
    width: 440px;
    height: 682px;
    margin-top: -2477px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-8 {
    height: 281px;
    width: 440px;
    margin-top: -1098px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-9 {
    height: 369px;
    width: 440px;
    margin-top: -633px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-8,
.u-section-2 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.15) translateX(-40px) translateY(40px) !important;
}

.u-section-2 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.15) translateX(-40px) translateY(40px) !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.25) translateX(0px) translateY(65px) !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.25) translateX(0px) translateY(65px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(-5deg) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(-5deg) !important;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-9,
.u-section-2 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}.header {
background-color: #00000033 !important
}