 .u-section-1 {
  background-image: url("images/splash-image.png");
  min-height: 1798px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 212px;
  margin: 525px auto 0;
}

.u-section-1 .u-image-2 {
  height: 607px;
  margin-top: 454px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 1495px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1483px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 200px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1409px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 126px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2080px;
}

.u-section-2 .u-image-1 {
  width: 600px;
  height: 1135px;
  margin: 0 auto 0 68px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 350px;
  transition-duration: 0.5s;
  margin: -534px auto 0 141px;
}

.u-section-2 .u-image-3 {
  width: 457px;
  height: 630px;
  transition-duration: 0.5s;
  margin: -350px auto 0 683px;
}

.u-section-2 .u-image-4 {
  height: 592px;
  margin-top: -123px;
  margin-bottom: 0;
}

.u-section-2 .u-image-5 {
  width: 570px;
  height: 174px;
  transition-duration: 0.5s;
  transform: translateX(0px);
  margin: -691px auto 0 98px;
}

.u-section-2 .u-image-6 {
  width: 545px;
  height: 415px;
  transition-duration: 0.5s;
  margin: -996px auto 60px 595px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2049px;
  }

  .u-section-2 .u-image-1 {
    height: 1136px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -535px;
    transform: scale(1.25) translateX(-40px) translateY(40px);
  }

  .u-section-2 .u-image-3 {
    height: 629px;
    margin-left: 483px;
    transform: scale(1.25) translateX(0px) translateY(50px);
  }

  .u-section-2 .u-image-4 {
    margin-top: -122px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 395px;
    transform: scale(1.25) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1940px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 263px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 1022px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 331px;
    margin-top: -421px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -331px;
    margin-left: 83px;
  }

  .u-section-2 .u-image-5 {
    width: 540px;
    height: 165px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 540px;
    height: 411px;
    margin-top: -987px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 643px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 208px;
    margin-top: -42px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 468px;
    margin-top: -208px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 39px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 104px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 259px;
    margin-top: -926px;
  }
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.25) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.15) translateX(-40px) translateY(40px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.15) translateX(-40px) translateY(40px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.25) translateX(0px) translateY(65px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.25) translateX(0px) translateY(65px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(-5deg) !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1) translateX(0px) translateY(0px) rotate(-5deg) !important;
}

.u-section-2 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.header {
background-color: #00000033 !important
}