 .u-section-1 {
  background-image: url("images/HighresScreenshot000053.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 1090px;
}

.u-section-1 .u-group-1 {
  width: 488px;
  min-height: 197px;
  background-image: none;
  height: auto;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 192px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 28px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 51.6% 100%;
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-group-1 {
    min-height: 0;
    margin-top: 191px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 193px;
    margin-top: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 88px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 51.83% 100%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-1 {
    min-height: 218px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 366px;
}

.u-section-2 .u-image-1 {
  width: 351px;
  height: 750px;
  margin: -408px auto 0 97px;
}

.u-section-2 .u-group-1 {
  width: 488px;
  min-height: 281px;
  background-image: none;
  height: auto;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -528px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -305px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-2 .u-group-1 {
    min-height: 340px;
    margin-top: -469px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -284px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -368px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 726px;
    margin-top: -141px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -450px;
  }
} .u-section-3 {
  background-image: url("images/UE4Editor_JkkPuT8ZKW.png");
  background-position: 77.98% 10.3%;
}

.u-section-3 .u-sheet-1 {
  min-height: 978px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 896px -62px 16px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 894px;
    margin-right: -28px;
    margin-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    background-position: 77.98% 10.3%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}