<img src="avatar.webp" alt="Avatar" class="avatar-img" width="250" height="250">
<header>
    <h1>Litruv</h1>
    <div class="subtext">Dev/Tech Artist @<a href="https://mates.dev/">MatesMedia</a>
    </div>

    <div class="social-links">
        <a href="https://github.com/Litruv" target="_blank" title="GitHub - Litruv">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.youtube.com/c/Litruv" target="_blank" title="YouTube - Litruv">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://steamcommunity.com/id/Litruv" target="_blank" title="Steam - Litruv">
            <i class="fab fa-steam"></i>
        </a>
        <a href="https://discordapp.com/users/220772082055774210" target="_blank" title="Discord - @Litruv">
            <i class="fab fa-discord"></i>
        </a>
        <a href="https://bsky.app/profile/lit.mates.dev" target="_blank" title="Bluesky - lit.mates.dev">
            <i class="fa-brands fa-bluesky"></i>
        </a>
    </div>

    <div class="project-links">
        <a href="https://mates.dev" target="_blank">MatesMedia</a>
        <a href="https://lit.ruv.wtf/materials/" target="_blank">UE Material Snippets</a>
        <a href="https://lit.ruv.wtf/docs/" target="_blank">Documentation</a>
        <a href="https://lit.ruv.wtf/numbermatch/">Number Match</a>
    </div>
</header>
