<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content="<!-- ::META_DESCRIPTION:: -->">
    <meta name="author" content="Litruv">

    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com; <!-- ::PAGE_CSP_OTHER_DIRECTIVES:: -->">

    <meta property="og:title" content="<!-- ::OG_TITLE:: -->">
    <meta property="og:description" content="<!-- ::OG_DESCRIPTION:: -->">
    <meta property="og:image" content="https://lit.ruv.wtf/banner.webp"> <!-- Common image -->
    <meta property="og:url" content="<!-- ::OG_URL:: -->">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Lit.ruv.wtf" /> <!-- Common site name -->
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<!-- ::TWITTER_TITLE:: -->">
    <meta name="twitter:description" content="<!-- ::TWITTER_DESCRIPTION:: -->">
    <meta name="twitter:image" content="https://lit.ruv.wtf/banner.webp"> <!-- Common image -->
    <meta name="twitter:url" content="<!-- ::TWITTER_URL:: -->">
    
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icons/48.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/180.png">

    <link rel="stylesheet" href="style.css">
    <!-- ::PAGE_SPECIFIC_STYLES:: -->
    
    <script src="main.js" defer></script> <!-- Common main script -->
    <script src="dynamic-rotation.js" defer></script> <!-- Common main script -->
    <script src="tape.js" defer></script>
    <!-- ::PAGE_SPECIFIC_SCRIPTS_DEFER:: -->

    <title><!-- ::PAGE_TITLE:: --></title>
</head>
<body> 
    <div class="bg-pattern"></div>
    <div class="container">
        <!-- ::HEADER:: -->
        <!-- ::CONTENT:: -->
        <!-- ::FOOTER:: -->
    </div>
    <!-- ::PAGE_SPECIFIC_SCRIPTS_BODY_END:: -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js" defer=""></script>
</body>
</html>
